player-connection-mode=Listen
player-connection-guid=1428401276
player-connection-debug=0
player-connection-project-name=JM_GP06
player-connection-ip=192.168.0.4
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=236d8007d12144388f67295934c06c1f
